table{
    width: 50%;
    margin: auto;
    background: rgb(124,154,167);
   
}
input[type="text"],input[type="name"]{
    width: 60%;
    /* width: 40px 10px; */
    padding: 20px 40px ;
    margin: 20px;
    display: flex;
    /* text-align: center; */
    /* background-color: blueviolet; */
   border: 2px solid;
   border-radius: 30px;
   margin-left: 50px;
    
}
body{
    /* background-color: aqua; */
    font-size: 20px;
    font-family: "Rubik", sans-serif;

    /* background-color: blueviolet; */
}
table .list{
    width: 100%;
    background: rgb(124,154,167);
    justify-content: left;
    
}
#one{
  
    display: flex;
   margin-left: 100px;
  
  
}
.sub{
    width: 200px;
    height: 40px;
    background-color: greenyellow;
    border: 2px solid;
    border-radius: 30px;
    margin-left: 10px;

}
.res{
    width: 200px;
background-color: red;
border: 2px solid;
border-radius: 30px;
margin-left: 10px;
}
.sub1{
    width: 100px;
    height: 30px;
    background-color: #fff;
}
.res1{
    width: 100px;
    height: 30px;
    background-color: #fff;
    /* background-color: red; */
}
.res1:hover{
    background-color: rgb(244, 44, 44);
}